<link rel="stylesheet" href="/stylesheets/recipedetails.css">

<body>
	<div id="wrapper">

		<div id="content">
<h2> Recipe Details </h2>
<section class="recipe-view" id="recipes-page">
<ul class='row-between'>
    <li class='imageblock'>
<div class="eachrecipepic">
      <img id = "eachImg" src="<%= recipesAndStuff.photoUrl %>">
    </div>
    <div class="recipedesc">
      <label> Recipe Name:</label<p> <%= recipesAndStuff.recipename %> </p><br>
        <label> Recipe Source:</label<p> <%= recipesAndStuff.recipesource %> </p><br>
        <label> Source Link:</label<p> <%= recipesAndStuff.sourcelink %> </p><br>
					<label> Photo URL:</label<p> <%= recipesAndStuff.photoUrl %> </p><br>
      <label> Recipe Category:</label<p> <%= recipesAndStuff.recipecategory %> </p><br>
      <label> Recipe Tags:</label<p> <%= recipesAndStuff.recipetags %> </p><br>
				<label> Recipe Comment:<br></label<p> <%= recipesAndStuff.recipecomment %> </p>
    </div>
    </li>
</ul>
</section>
</div>
</div>
  </body>


		<span >
			<!-- <button> Add New Recipe </button> -->
			<a id="backtorecipesbutton" href="/recipes" class="backtorecipesbutton"> Back to My Recipes </a>
			<a id="editbutton" href="/recipes/<%=recipesAndStuff._id%>/edit" class="editrecipebutton"> Edit My Recipe </a>
			<a id="deletebutton" href="/recipes/<%=recipesAndStuff._id%>/delete" class="deleterecipebutton"> Delete My Recipe </a>

		</span>
